---
import Indicator from "@components/Indicator.astro";
import SocialPill from "@components/SocialPill.astro";
import RightArrow from "@components/icons/RightArrow.astro";
import { getI18n } from "src/i18n";
const { currentLocale } = Astro;
const i18n = getI18n({ currentLocale });
---

<h2
  class="px-2 text-center font-bold text-xl md:text-2xl text-black dark:text-white"
  transition:name="education-title"
>
  {i18n.BENTOS.EDUCATION.TITLE}
</h2>
<p class="text-pretty">{i18n.BENTOS.EDUCATION.DESCRIPTION1}</p>
<div class="flex items-center w-full justify-around my-2">
  <ul class="[&>li]:font-semibold [&>li]:text-lg">
    <Indicator class="bg-blue-600">{i18n.BENTOS.EDUCATION.ITEMS[0]}</Indicator>
    <Indicator class="bg-yellow-600">{i18n.BENTOS.EDUCATION.ITEMS[1]}</Indicator>
    <Indicator class="bg-green-600">{i18n.BENTOS.EDUCATION.ITEMS[2]}</Indicator>
    <Indicator class="bg-purple-600">{i18n.BENTOS.EDUCATION.ITEMS[3]}</Indicator>
  </ul>
  <img
    src="/education.webp"
    alt="Books icon"
    class="h-24 aspect-square opacity-90"
  />
</div>
<p class="text-pretty">{i18n.BENTOS.EDUCATION.DESCRIPTION2}</p>
<SocialPill href={i18n.BENTOS.EDUCATION.LINK}>
  {i18n.LEARNMORE}
  <RightArrow />
</SocialPill>
