---
import { getI18n } from "src/i18n";
import { tecnologies as tec } from "@const/tecnologies";
import PillTecnology from "@components/PillTecnology.astro";
import RightArrow from "@components/icons/RightArrow.astro";
import SocialPill from "@components/SocialPill.astro";
import type { Tecnology } from "@types";
const { currentLocale } = Astro;
const i18n = getI18n({ currentLocale });
const tecnologies: Tecnology[] = tec;
---

<h2
  class="px-2 text-center font-bold text-xl md:text-2xl text-black dark:text-white"
  transition:name="projects-title"
>
  {i18n.BENTOS.PROJECTS.TITLE}
</h2>
<div class="flex flex-col gap-y-4 md:flex-row md:justify-around items-center">
  <p class="px-3 text-pretty md:max-w-[65%]">
    {i18n.BENTOS.PROJECTS.DESCRIPTION1}
    <br />
    {i18n.BENTOS.PROJECTS.DESCRIPTION2}
  </p>
  <div class="flex w-full justify-around my-2">
    <img
      src="/projects.webp"
      alt="Console icon"
      class="h-24 aspect-square opacity-90"
    />
    <img
      src="/web.webp"
      alt="Web page icon"
      class="h-24 aspect-square opacity-90"
    />
  </div>
</div>
<ul class="flex flex-wrap gap-3 mb-2">
  {
    tecnologies.map((tecnology) => (
      <li>
        <PillTecnology tecnology={tecnology} />
      </li>
    ))
  }
</ul>
<SocialPill href={i18n.BENTOS.PROJECTS.LINK} class="">
  {i18n.LEARNMORE}
  <RightArrow />
</SocialPill>
