---
import { getI18n } from "src/i18n";
import AngularPill from "@icons/pills/AngularPill.astro";
import AstroPill from "@icons/pills/AstroPill.astro";
import BootstrapPill from "@components/icons/pills/BootstrapPill.astro";
import FirebasePill from "@components/icons/pills/FirebasePill.astro";
import GitPill from "@components/icons/pills/GitPill.astro";
import IonicPill from "@components/icons/pills/IonicPill.astro";
import JavascriptPill from "@components/icons/pills/JavascriptPill.astro";
import PythonPill from "@components/icons/pills/PythonPill.astro";
import ReactPill from "@components/icons/pills/ReactPill.astro";
import RightArrow from "@icons/RightArrow.astro";
import SocialPill from "@components/SocialPill.astro";
import TailwindPill from "@components/icons/pills/TailwindPill.astro";
import TypescriptPill from "@components/icons/pills/TypescriptPill.astro";
import ZustandPill from "@components/icons/pills/ZustandPill.astro";
const { currentLocale } = Astro;
const i18n = getI18n({ currentLocale });
---

<h2
  class="px-2 text-center font-bold text-xl md:text-2xl text-black dark:text-white"
  transition:name="projects-title"
>
  {i18n.BENTOS.PROJECTS.TITLE}
</h2>
<div class="flex flex-col gap-y-4 md:flex-row md:justify-around items-center">
  <p class="px-3 text-pretty md:max-w-[65%]">
    {i18n.BENTOS.PROJECTS.DESCRIPTION1}
    <br />
    {i18n.BENTOS.PROJECTS.DESCRIPTION2}
  </p>
  <div class="flex w-full justify-around my-2">
    <img
      src="/projects.webp"
      alt="Console icon"
      class="h-24 aspect-square opacity-90"
    />
    <img
      src="/web.webp"
      alt="Web page icon"
      class="h-24 aspect-square opacity-90"
    />
  </div>
</div>
<ul class="flex flex-wrap gap-3 mb-2">
  <li>
    <AngularPill />
  </li>
  <li>
    <AstroPill />
  </li>
  <li>
    <BootstrapPill />
    <li>
      <FirebasePill />
    </li>
    <li>
      <GitPill />
    </li>
    <li>
      <IonicPill />
    </li>
    <li>
      <JavascriptPill />
    </li>
    <li>
      <PythonPill />
    </li>
    <li>
      <ReactPill />
    </li>
    <li>
      <TailwindPill />
    </li>
    <li>
      <TypescriptPill />
    </li>
    <li>
      <ZustandPill />
    </li>
  </li>
</ul>
<SocialPill href={i18n.BENTOS.PROJECTS.LINK} class="">
  {i18n.LEARNMORE}
  <RightArrow />
</SocialPill>
