---
import MainContainer from "@components/MainContainer.astro";
import ProjectInfo from "@components/ProjectInfo.astro";
import Layout from "@layouts/Layout.astro";
const projects = [
  {
    title: 'App Coffee GUI',
    description: 'Aplicación web para el monitoreo de variables climáticas de una red inalámbrica de sensores en un cultivo de café. Creada e integrada con Angular y Firebase para la configuración remota de parámetros en la red de sensores, para autenticación y servicio de hosting.',
    imgs: ['/coffee.webp', '/coffee1.webp','/coffee2.webp','/coffee3.webp'],
    tecnologies: ['Angular', 'Bootstrap', 'Firebase', 'Git', 'Javascript', 'Typescript'],
    code: 'https://github.com/santiago-rincon/app_coffee_gui',
    link: 'https://app-coffee-gui.web.app/'
  }, 
  {
    title: 'Aplicación de transporte',
    description: 'Aplicación multiplataforma que se integra con la API de Google Maps para la obtención de la ubicación en tiempo real, renderización de mapas, búsqueda de la ruta más óptima entre dos puntos seleccionados y búsqueda de lugares a través  de la API Geocoding. Creada e integrada con Angular, Ionic, Capacitor y Firebase para el uso de base de datos, autenticación y hosting.',
    imgs: ['/transport1.webp','/transport.webp','/transport2.webp','/transport3.webp','/transport4.webp',],
    tecnologies: ['Angular', 'Firebase', 'Git', 'Ionic', 'Javascript', 'Tailwind', 'Typescript'],
    code: 'https://github.com/santiago-rincon/travel_app',
    link: 'https://transport-app-26.web.app/'
  },
  {
    title: 'PDFPy',
    description: 'Pdfpy es una aplicación de línea de comandos (CLI) para la manipulación local de archivos PDF hecha en Python con la librería PyPDF2 compatible con Windows, Mac y Linux. Permite unir o separar archivos, leer o escribir metadatos en los archivos y encriptar o desencriptar archivos.',
    imgs: ['/pdfpy.webp','/pdfpy1.webp'],
    tecnologies: ['Git', 'Python'],
    code: 'https://github.com/santiago-rincon/pdfpy',
  },
  {
    title: 'Background remover',
    description: 'Background remover es una aplicación de línea de comandos (CLI) para eliminar el fondo de imágenes con formatos png, jpg y jpeg hecha en Python con la librería rembg. Soporta el tratamiento de imágenes individuales o de todos los archivos de una carpeta.',
    imgs: ['/bg.webp','/bg1.webp'],
    tecnologies: ['Git', 'Python'],
    code: 'https://github.com/santiago-rincon/bgremoverpy',
  }
]
---

<Layout
  title="Proyectos"
  description="Lista de proyectos realizados con diferentes técnologias"
>
  <MainContainer>
    <h2
      class="text-center text-3xl md:text-4xl font-bold mb-8"
      transition:name="projects-title"
    >
      Proyectos
    </h2>
    {
      projects.map(({title, code,description,imgs,link,tecnologies})=>(
        <ProjectInfo title={title}, code={code} description={description} imgs={imgs} link={link} tecnologies={tecnologies}/>
      ))
    }
  </MainContainer>
</Layout>
