---
import { getI18n } from "src/i18n";
import Carousel from "@components/Carousel.astro";
import GithubIcon from "@icons/GithubIcon.astro";
import PillTecnology from "@components/PillTecnology.astro";
import SocialPill from "@components/SocialPill.astro";
import { tecnologies as tec } from "@const/tecnologies";
import Www from "@icons/Www.astro";

interface Props {
  title: string;
  description: string;
  imgs: string[];
  tecnologies: string[];
  code?: string;
  link?: string;
}
const { code, description, imgs, tecnologies, title, link } = Astro.props;
const { currentLocale } = Astro;
const i18n = getI18n({ currentLocale });
---

<article class="mx-10 sm:mx-32 md:mx-48">
  <h3 class="text-2xl font-semibold text-balance text-gray-200 mb-3">
    {title}
  </h3>
  <p class="text-pretty text-gray-300/80 mb-3">
    {description}
  </p>
  <p class="text-pretty text-gray-300/80 mb-3">
    <strong>{i18n.TECNOLOGIES}:</strong>
  </p>
  <div class="flex flex-wrap gap-3 mb-5">
    {
      tecnologies.map((t) => {
        const pill = tec.find((tecno) => tecno.name === t);
        if (pill === undefined) return;
        return <PillTecnology tecnology={pill} />;
      })
    }
  </div>
  <Carousel images={imgs} />
  <div class="flex gap-x-3 gap-y-1 flex-wrap mt-3 mb-6">
    {
      code && (
        <SocialPill href={code} target>
          <GithubIcon class="size-5 md:size-6" />
          {i18n.SOURCE_CODE}
        </SocialPill>
      )
    }
    {
      link && (
        <SocialPill href={link} target>
          <Www class="size-5 md:size-6" />
          {i18n.WEB_SITE}
        </SocialPill>
      )
    }
  </div>
</article>
