---
import { getI18n } from "src/i18n";
import AngularPill from "@icons/pills/AngularPill.astro";
import BootstrapPill from "@icons/pills/BootstrapPill.astro";
import Carousel from "./Carousel.astro";
import FirebasePill from "@icons/pills/FirebasePill.astro";
import GithubIcon from "@icons/GithubIcon.astro";
import GitPill from "@icons/pills/GitPill.astro";
import IonicPill from "@icons/pills/IonicPill.astro";
import JavascriptPill from "@icons/pills/JavascriptPill.astro";
import PythonPill from "@icons/pills/PythonPill.astro";
import ReactPill from "@icons/pills/ReactPill.astro";
import SocialPill from "@components/SocialPill.astro";
import TailwindPill from "@icons/pills/TailwindPill.astro";
import TypescriptPill from "@icons/pills/TypescriptPill.astro";
import Www from "@icons/Www.astro";
import ZustandPill from "@icons/pills/ZustandPill.astro";
import AstroPill from "./icons/pills/AstroPill.astro";

interface Props {
  title: string;
  description: string;
  imgs: string[];
  tecnologies: string[];
  code: string;
  link?: string;
}
const { code, description, imgs, tecnologies, title, link } = Astro.props;
const { currentLocale } = Astro;
const i18n = getI18n({ currentLocale });
---

<article class="mx-10 sm:mx-32 md:mx-48">
  <h3 class="text-2xl font-semibold text-balance text-gray-200 mb-3">
    {title}
  </h3>
  <p class="text-pretty text-gray-300/80 mb-3">
    {description}
  </p>
  <p class="text-pretty text-gray-300/80 mb-3">
    <strong>{i18n.TECNOLOGIES}:</strong>
  </p>
  <div class="flex flex-wrap gap-3 mb-5">
    {
      tecnologies.map((tec) => {
        switch (tec) {
          case "Angular":
            return <AngularPill />;
          case "Astro":
            return <AstroPill />;
          case "Bootstrap":
            return <BootstrapPill />;
          case "Firebase":
            return <FirebasePill />;
          case "Git":
            return <GitPill />;
          case "Ionic":
            return <IonicPill />;
          case "Javascript":
            return <JavascriptPill />;
          case "Python":
            return <PythonPill />;
          case "React":
            return <ReactPill />;
          case "Tailwind":
            return <TailwindPill />;
          case "Typescript":
            return <TypescriptPill />;
          case "Zustand":
            return <ZustandPill />;
        }
      })
    }
  </div>
  <Carousel images={imgs} />
  <!-- <img src={img} alt=`Preview of ${title}` class=""/> -->
  <div class="flex gap-x-3 gap-y-1 flex-wrap mb-6">
    <SocialPill href={code} target>
      <GithubIcon class="size-5 md:size-6" />
      {i18n.SOURCE_CODE}
    </SocialPill>
    {
      link && (
        <SocialPill href={link} target>
          <Www class="size-5 md:size-6" />
          {i18n.WEB_SITE}
        </SocialPill>
      )
    }
  </div>
</article>
